
#start{
    height: 100vh;
}
#start-container{
    padding: 0%;
    margin: 30% 12% 30%;
    width: 282px;
    height: 100vh;
}
#start-login{
    background-color:#8C8CE6;
    border:none;
    border-radius: 4px;
    width: 100%;
}
#start-team{
    background-color: #fff;
    border-color: gray;
    border-radius: 4px;
    color: #373A3C;
    border: 1px solid #CCCCCC;
    width: 100%;
}