#footer{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    clear: both;
    height:140px;
    margin-top: 0px;
    padding-top: 10px;
    overflow: visible;
    top:90%;
    z-index: 100;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.1);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.1);
}

#navbar-desafio, #navbar-premio, #navbar-tareas{
    width:34px;
    height:auto;
}
#button-desafio, #button-premio, #button-tareas{
    background-color: #fff;
    border: none;
}

.box-img{
    display: flex;
flex-direction:row;
justify-content:space-around;
align-items: center;
}

.txt-btn{
    color:#373a3c;
}